[submodule "resources/predictionio"]
	path = resources/predictionio
	url = https://github.com/apache/predictionio.git
[submodule "resources/mlflow"]
	path = resources/mlflow
	url = https://github.com/mlflow/mlflow.git
[submodule "resources/plaidml"]
	path = resources/plaidml
	url = https://github.com/plaidml/plaidml.git
[submodule "resources/acme"]
	path = resources/acme
	url = https://github.com/deepmind/acme.git
[submodule "resources/onnxruntime"]
	path = resources/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "resources/pytorch-lightning"]
	path = resources/pytorch-lightning
	url = https://github.com/PyTorchLightning/pytorch-lightning.git
[submodule "resources/pytorch-ignite"]
	path = resources/pytorch-ignite
	url = https://github.com/pytorch/ignite.git
