[submodule "resources/mlflow"]
	path = resources/mlflow
	url = https://github.com/mlflow/mlflow.git
[submodule "resources/plaidml"]
	path = resources/plaidml
	url = https://github.com/plaidml/plaidml.git
[submodule "resources/acme"]
	path = resources/acme
	url = https://github.com/deepmind/acme.git
[submodule "resources/onnxruntime"]
	path = resources/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "resources/pytorch-lightning"]
	path = resources/pytorch-lightning
	url = https://github.com/PyTorchLightning/pytorch-lightning.git
[submodule "resources/pytorch-ignite"]
	path = resources/pytorch-ignite
	url = https://github.com/pytorch/ignite.git
[submodule "resources/trax"]
	path = resources/trax
	url = https://github.com/google/trax.git
[submodule "resources/polyaxon"]
	path = resources/polyaxon
	url = https://github.com/polyaxon/polyaxon.git
[submodule "resources/ml-workspace"]
	path = resources/ml-workspace
	url = https://github.com/ml-tooling/ml-workspace.git
[submodule "resources/ml-hub"]
	path = resources/ml-hub
	url = https://github.com/ml-tooling/ml-hub.git
[submodule "resources/DeepSpeed"]
	path = resources/DeepSpeed
	url = https://github.com/microsoft/DeepSpeed.git
[submodule "resources/cortex"]
	path = resources/cortex
	url = https://github.com/cortexlabs/cortex.git
[submodule "resources/predictionio"]
	path = resources/predictionio
	url = https://github.com/apache/predictionio.git
[submodule "resources/dagli"]
	path = resources/dagli
	url = https://github.com/linkedin/dagli.git
[submodule "resources/kubeflow-pipelines"]
	path = resources/kubeflow-pipelines
	url = https://github.com/kubeflow/pipelines.git
[submodule "resources/kubeflow-kfserving"]
	path = resources/kubeflow-kfserving
	url = https://github.com/kubeflow/kfserving.git
[submodule "resources/featuretools"]
	path = resources/featuretools
	url = https://github.com/alteryx/featuretools.git
[submodule "resources/pytorch-kaldi"]
	path = resources/pytorch-kaldi
	url = https://github.com/mravanelli/pytorch-kaldi.git
[submodule "resources/espnet"]
	path = resources/espnet
	url = https://github.com/espnet/espnet.git
[submodule "resources/kubeflow"]
	path = resources/kubeflow
	url = https://github.com/kubeflow/kubeflow.git
[submodule "resources/kubeflow-katlib"]
	path = resources/kubeflow-katlib
	url = https://github.com/kubeflow/katib.git
[submodule "resources/kubeflow-examples"]
	path = resources/kubeflow-examples
	url = https://github.com/kubeflow/examples.git
[submodule "resources/kubeflow-pipelines"]
	path = resources/kubeflow-pipelines
	url = https://github.com/kubeflow/pipelines.git
[submodule "resources/kubeflow-kfctl"]
	path = resources/kubeflow-kfctl
	url = https://github.com/kubeflow/kfctl.git
[submodule "resources/kubeflow-manifests"]
	path = resources/kubeflow-manifests
	url = https://github.com/kubeflow/manifests.git
[submodule "resources/kubeflow-arena"]
	path = resources/kubeflow-arena
	url = https://github.com/kubeflow/arena.git
[submodule "resources/kubeflow-fairing"]
	path = resources/kubeflow-fairing
	url = https://github.com/kubeflow/fairing.git
[submodule "resources/kubeflow-common"]
	path = resources/kubeflow-common
	url = https://github.com/kubeflow/common.git
[submodule "resources/kubeflow-kubebench"]
	path = resources/kubeflow-kubebench
	url = https://github.com/kubeflow/kubebench.git
[submodule "resources/kubeflow-kfp-tekton"]
	path = resources/kubeflow-kfp-tekton
	url = https://github.com/kubeflow/kfp-tekton.git
[submodule "resources/kubeflow-frontend"]
	path = resources/kubeflow-frontend
	url = https://github.com/kubeflow/frontent.git
[submodule "resources/kubeflow-training-operator"]
	path = resources/kubeflow-training-operator
	url = https://github.com/kubeflow/training-operator.git
[submodule "resources/kubeflow-pytorch-operator"]
	path = resources/kubeflow-pytorch-operator
	url = https://github.com/kubeflow/pytorch-operator.git
[submodule "resources/kubeflow-xgboost-operator"]
	path = resources/kubeflow-xgboost-operator
	url = https://github.com/kubeflow/xgboost-operator.git
[submodule "resources/kubeflow-mpi-operator"]
	path = resources/kubeflow-mpi-operator
	url = https://github.com/kubeflow/mpi-operator.git
[submodule "resources/kubeflow-operator"]
	path = resources/kubeflow-operator
	url = https://github.com/kubeflow/operator.git
[submodule "resources/kubeflow-metadata"]
	path = resources/kubeflow-metadata
	url = https://github.com/kubeflow/metadata.git
