[submodule "resources/mlflow"]
	path = others-projects/mlflow
	url = https://github.com/mlflow/mlflow.git
[submodule "resources/plaidml"]
	path = others-projects/plaidml
	url = https://github.com/plaidml/plaidml.git
[submodule "resources/acme"]
	path = others-projects/acme
	url = https://github.com/deepmind/acme.git
[submodule "resources/onnxruntime"]
	path = facebook-projects/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "resources/pytorch-lightning"]
	path = pytorch-projects/pytorch-lightning
	url = https://github.com/PyTorchLightning/pytorch-lightning.git
[submodule "resources/pytorch-ignite"]
	path = pytorch-projects/pytorch-ignite
	url = https://github.com/pytorch/ignite.git
[submodule "resources/trax"]
	path = others-projects/trax
	url = https://github.com/google/trax.git
[submodule "resources/polyaxon"]
	path = others-projects/polyaxon
	url = https://github.com/polyaxon/polyaxon.git
[submodule "resources/ml-workspace"]
	path = others-projects/ml-workspace
	url = https://github.com/ml-tooling/ml-workspace.git
[submodule "resources/ml-hub"]
	path = others-projects/ml-hub
	url = https://github.com/ml-tooling/ml-hub.git
[submodule "resources/DeepSpeed"]
	path = microsoft-projects/DeepSpeed
	url = https://github.com/microsoft/DeepSpeed.git
[submodule "resources/cortex"]
	path = others-projects/cortex
	url = https://github.com/cortexlabs/cortex.git
[submodule "resources/predictionio"]
	path = resources/predictionio
	url = https://github.com/apache/predictionio.git
[submodule "resources/dagli"]
	path = others-projects/dagli
	url = https://github.com/linkedin/dagli.git
[submodule "resources/kubeflow-pipelines"]
	path = resources/kubeflow-pipelines
	url = https://github.com/kubeflow/pipelines.git
[submodule "resources/kubeflow-kfserving"]
	path = kubeflow-projects/kubeflow-kfserving
	url = https://github.com/kubeflow/kfserving.git
[submodule "resources/featuretools"]
	path = others-projects/featuretools
	url = https://github.com/alteryx/featuretools.git
[submodule "resources/pytorch-kaldi"]
	path = pytorch-projects/pytorch-kaldi
	url = https://github.com/mravanelli/pytorch-kaldi.git
[submodule "resources/espnet"]
	path = others-projects/espnet
	url = https://github.com/espnet/espnet.git
[submodule "resources/kubeflow"]
	path = resources/kubeflow
	url = https://github.com/kubeflow/kubeflow.git
[submodule "resources/kubeflow-katlib"]
	path = kubeflow-projects/kubeflow-katlib
	url = https://github.com/kubeflow/katib.git
[submodule "resources/kubeflow-examples"]
	path = kubeflow-projects/kubeflow-examples
	url = https://github.com/kubeflow/examples.git
[submodule "resources/kubeflow-pipelines"]
	path = resources/kubeflow-pipelines
	url = https://github.com/kubeflow/pipelines.git
[submodule "resources/kubeflow-kfctl"]
	path = kubeflow-projects/kubeflow-kfctl
	url = https://github.com/kubeflow/kfctl.git
[submodule "resources/kubeflow-manifests"]
	path = kubeflow-projects/kubeflow-manifests
	url = https://github.com/kubeflow/manifests.git
[submodule "resources/kubeflow-arena"]
	path = kubeflow-projects/kubeflow-arena
	url = https://github.com/kubeflow/arena.git
[submodule "resources/kubeflow-fairing"]
	path = kubeflow-projects/kubeflow-fairing
	url = https://github.com/kubeflow/fairing.git
[submodule "resources/kubeflow-common"]
	path = kubeflow-projects/kubeflow-common
	url = https://github.com/kubeflow/common.git
[submodule "resources/kubeflow-kubebench"]
	path = kubeflow-projects/kubeflow-kubebench
	url = https://github.com/kubeflow/kubebench.git
[submodule "resources/kubeflow-kfp-tekton"]
	path = kubeflow-projects/kubeflow-kfp-tekton
        url = https://github.com/kubeflow/kfp-tekton.git
[submodule "resources/facebook-faiss"]
	path = facebook-projects/facebook-faiss
	url = https://github.com.cnpmjs.org/facebookresearch/faiss.git
[submodule "resources/ray-tutorial"]
	path = ray-projects/ray-tutorial
	url = https://github.com/ray-project/tutorial.git
[submodule "resources/anyscale-academy"]
	path = ray-projects/anyscale-academy
	url = https://github.com/anyscale/academy
[submodule "resources/openvino"]
	path = resources/openvino_projects
	url = https://github.com/openvinotoolkit/openvino.git
[submodule "resources/openvino_notebooks"]
	path = intel-projects/openvino-notebooks
	url = https://github.com/openvinotoolkit/openvino_notebooks.git
[submodule "resources/tensorrtx"]
	path = nvidia-projects/tensorrtx
	url = https://github.com/wang-xinyu/tensorrtx.git
[submodule "resources/cvat"]
	path = others-projects/cvat
	url = https://github.com/openvinotoolkit/cvat.git
[submodule "resources/cuda-samples"]
	path = nvidia-projects/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples.git
[submodule "resources/kubeflow-frontend"]
	path = kubeflow-projects/kubeflow-frontend
	url = https://github.com/kubeflow/frontent.git
[submodule "resources/kubeflow-training-operator"]
	path = resources/kubeflow-training-operator
	url = https://github.com/kubeflow/training-operator.git
[submodule "resources/kubeflow-pytorch-operator"]
	path = resources/kubeflow-pytorch-operator
	url = https://github.com/kubeflow/pytorch-operator.git
[submodule "resources/kubeflow-xgboost-operator"]
	path = resources/kubeflow-xgboost-operator
	url = https://github.com/kubeflow/xgboost-operator.git
[submodule "resources/kubeflow-mpi-operator"]
	path = kubeflow-projects/kubeflow-mpi-operator
	url = https://github.com/kubeflow/mpi-operator.git
[submodule "resources/kubeflow-operator"]
	path = kubeflow-projects/kubeflow-operator
	url = https://github.com/kubeflow/operator.git
[submodule "resources/kubeflow-metadata"]
	path = kubeflow-projects/kubeflow-metadata
	url = https://github.com/kubeflow/metadata.git
[submodule "resources/openvino/model_zoo"]
	path = intel-projects/openvino-model_zoo
	url = https://github.com/openvinotoolkit/open_model_zoo.git
[submodule "resources/mds-openvino/notebooks"]
	path = mds-projects/openvino-notebooks
	url = git@github.com:aicanhelp/openvino_notebooks.git
[submodule "resources/mds-openvino/model_zoo"]
	path = mds-projects/openvino-model_zoo
	url = git@github.com:aicanhelp/open_model_zoo.git
[submodule "resources/mds-cuda-sample"]
	path = mds-projects/mds-cuda-sample
	url = git@github.com:aicanhelp/cuda-samples.git
[submodule "resources/mds_cuda_by_example"]
	path = resources/mds_cuda_by_example
	url = git@github.com:aicanhelp/cuda_by_example.git
[submodule "resources/numpy-ml"]
	path = others-projects/numpy-ml
	url = https://github.com/ddbourgin/numpy-ml.git
[submodule "resources/numpy-100"]
	path = others-projects/numpy-100
	url = https://github.com/rougier/numpy-100.git
[submodule "resources/cupy"]
	path = others-projects/cupy
	url = https://github.com/cupy/cupy.git
[submodule "resources/numba"]
	path = others-projects/numba
	url = https://github.com/numba/numba.git
[submodule "resources/glfw"]
	path = others-projects/glfw
	url = https://github.com/glfw/glfw.git
[submodule "resources/deepstream_reference_apps"]
	path = nvidia-projects/deepstream_reference_apps
	url = https://github.com/NVIDIA-AI-IOT/deepstream_reference_apps.git
[submodule "resources/deepstream_python_apps"]
	path = nvidia-projects/deepstream_python_apps
	url = https://github.com/NVIDIA-AI-IOT/deepstream_python_apps.git
[submodule "resources/ray"]
	path = ray-projects/ray
	url = git@github.com:aicanhelp/ray.git
[submodule "resources/cuda-thrust"]
	path = nvidia-projects/cuda-thrust
	url = https://github.com/NVIDIA/thrust.git
[submodule "resources/VideoProcessingFramework"]
	path = nvidia-projects/VideoProcessingFramework
	url = https://github.com/NVIDIA/VideoProcessingFramework.git
[submodule "resources/learning_ray"]
	path = ray-projects/learning_ray
	url = https://github.com/maxpumperla/learning_ray.git
[submodule "resources/ray-tutorial-academy"]
	path = ray-projects/ray-tutorial-academy
	url = https://github.com/anyscale/academy.git
[submodule "resources/kuberay"]
	path = ray-projects/kuberay
	url = https://github.com/ray-project/kuberay.git
[submodule "resources/transformer-engine"]
	path = nvidia-projects/transformer-engine
	url = https://github.com/NVIDIA/TransformerEngine.git
[submodule "resources/cuba-lib-samples"]
	path = nvidia-projects/cuba-lib-samples
	url = https://github.com/NVIDIA/CUDALibrarySamples.git
[submodule "resources/pytorchx"]
	path = pytorch-projects/pytorchx
	url = https://github.com/wang-xinyu/pytorchx
[submodule "resources/deepspeed-example"]
	path = microsoft-projects/deepspeed-example
	url = https://github.com/microsoft/DeepSpeedExamples.git
[submodule "resources/FasterTransformer"]
	path = nvidia-projects/FasterTransformer
	url = https://github.com/NVIDIA/FasterTransformer.git
[submodule "resources/tensorrt"]
	path = nvidia-projects/tensorrt
	url = https://github.com/NVIDIA/TensorRT.git
[submodule "resources/trt-samples-for-hackathon-cn"]
	path = nvidia-projects/trt-samples-for-hackathon-cn
	url = https://github.com/NVIDIA/trt-samples-for-hackathon-cn.git
[submodule "resources/nemo"]
	path = nvidia-projects/nemo
	url = https://github.com/NVIDIA/NeMo.git
[submodule "resources/gpt-neox"]
	path = others-projects/gpt-neox
	url = https://github.com/EleutherAI/gpt-neox.git
[submodule "resources/nccl"]
	path = nvidia-projects/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "resources/llama"]
	path = facebook-projects/llama
	url = https://github.com/facebookresearch/llama.git
[submodule "resources/megatron-lm"]
	path = nvidia-projects/megatron-lm
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "resources/flash-attention"]
	path = others-projects/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "resources/langchain"]
	path = llm-projects/langchain
	url = https://github.com/langchain-ai/langchain.git
[submodule "resources/openllama2"]
	path = llm-projects/openllama2
	url = https://github.com/OpenLLMAI/OpenLLaMA2.git
[submodule "others-projects/gpt-neox-deeperspeed"]
	path = others-projects/gpt-neox-deeperspeed
	url = https://github.com/EleutherAI/DeeperSpeed.git
[submodule "others-projects/lm_dataformat"]
	path = others-projects/lm_dataformat
	url = https://github.com/EleutherAI/lm_dataformat.git
[submodule "nvidia-projects/NeMo-Megatron-Launcher"]
	path = nvidia-projects/NeMo-Megatron-Launcher
	url = https://github.com/NVIDIA/NeMo-Megatron-Launcher.git
[submodule "nvidia-projects/apex"]
	path = nvidia-projects/apex
	url = https://github.com/NVIDIA/apex.git
[submodule "huggingface-projects/accelerate"]
	path = huggingface-projects/accelerate
	url = https://github.com/huggingface/accelerate.git
[submodule "huggingface-projects/datasets"]
	path = huggingface-projects/datasets
	url = https://github.com/huggingface/datasets.git
[submodule "agent-projects-projects/llama_index"]
	path = agent-projects/llama_index
	url = https://github.com/run-llama/llama_index.git
[submodule "agent-projects/langchain"]
	path = agent-projects/langchain
	url = https://github.com/langchain-ai/langchain.git
[submodule "agent-projects/text-generation-webui"]
	path = agent-projects/text-generation-webui
	url = https://github.com/oobabooga/text-generation-webui.git
[submodule "others-projects/koboldcpp"]
	path = others-projects/koboldcpp
	url = https://github.com/LostRuins/koboldcpp.git
[submodule "others-projects/ggml"]
	path = others-projects/ggml
	url = https://github.com/ggerganov/ggml.git
[submodule "ray-projects/ray-educational-materials"]
	path = ray-projects/ray-educational-materials
	url = https://github.com/ray-project/ray-educational-materials.git
[submodule "ray-projects/llm-applications"]
	path = ray-projects/llm-applications
	url = https://github.com/ray-project/llm-applications.git
[submodule "ray-projects/ray-llm"]
	path = ray-projects/ray-llm
	url = https://github.com/ray-project/ray-llm.git
[submodule "llm-projects/alpa"]
	path = llm-projects/alpa
	url = https://github.com/alpa-projects/alpa.git
[submodule "llm-projects/vllm"]
	path = llm-projects/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "ray-projects/ColossalAI"]
	path = ray-projects/ColossalAI
	url = https://github.com/hpcaitech/ColossalAI.git
[submodule "ray-projects/trlx"]
	path = ray-projects/trlx
	url = https://github.com/CarperAI/trlx.git
[submodule "flag-open-projects/FlagAI"]
	path = flag-open-projects/FlagAI
	url = https://github.com/FlagAI-Open/FlagAI.git
[submodule "huggingface-projects/transformers"]
	path = huggingface-projects/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "huggingface-projects/peft"]
	path = huggingface-projects/peft
	url = https://github.com/huggingface/peft.git
[submodule "huggingface-projects/optimum"]
	path = huggingface-projects/optimum
	url = https://github.com/huggingface/optimum.git
[submodule "huggingface-projects/diffusers"]
	path = huggingface-projects/diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "huggingface-projects/candle"]
	path = huggingface-projects/candle
	url = https://github.com/huggingface/candle.git
[submodule "huggingface-projects/blog"]
	path = huggingface-projects/blog
	url = https://github.com/huggingface/blog.git
[submodule "huggingface-projects/pytorch-image-models"]
	path = huggingface-projects/pytorch-image-models
	url = https://github.com/huggingface/pytorch-image-models.git
[submodule "huggingface-projects/optimum-intel"]
	path = huggingface-projects/optimum-intel
	url = https://github.com/huggingface/optimum-intel.git
[submodule "ascend-projects/pytorch"]
	path = ascend-projects/pytorch
	url = https://gitee.com/ascend/pytorch.git
[submodule "ascend-projects/modelzoo"]
	path = ascend-projects/modelzoo
	url = https://gitee.com/ascend/modelzoo.git
[submodule "ascend-projects/samples"]
	path = ascend-projects/samples
	url = https://gitee.com/ascend/samples.git
[submodule "ascend-projects/att"]
	path = ascend-projects/att
	url = https://gitee.com/ascend/att.git
[submodule "ascend-projects/ait"]
	path = ascend-projects/ait
	url = https://gitee.com/ascend/ait.git
[submodule "ascend-projects/AscendSpeed"]
	path = ascend-projects/AscendSpeed
	url = https://gitee.com/ascend/AscendSpeed.git
[submodule "ascend-projects/ascend-docker-runtime"]
	path = ascend-projects/ascend-docker-runtime
	url = https://gitee.com/ascend/ascend-docker-runtime.git
[submodule "ascend-projects/ascend-hccl-controller"]
	path = ascend-projects/ascend-hccl-controller
	url = https://gitee.com/ascend/ascend-hccl-controller.git
[submodule "ascend-projects/ascend-device-plugin"]
	path = ascend-projects/ascend-device-plugin
	url = https://gitee.com/ascend/ascend-device-plugin.git
[submodule "ascend-projects/Megatron-LM"]
	path = ascend-projects/Megatron-LM
	url = https://gitee.com/ascend/Megatron-LM.git
[submodule "ascend-projects/ascend-npu-exporter"]
	path = ascend-projects/ascend-npu-exporter
	url = https://gitee.com/ascend/ascend-npu-exporter.git
[submodule "ascend-projects/tools"]
	path = ascend-projects/tools
	url = https://gitee.com/ascend/tools.git
[submodule "ascend-projects/ascend-for-volcano"]
	path = ascend-projects/ascend-for-volcano
	url = https://gitee.com/ascend/ascend-for-volcano.git
[submodule "ascend-projects/transformers"]
	path = ascend-projects/transformers
	url = https://gitee.com/ascend/transformers.git
[submodule "ascend-projects/DeepSpeed"]
	path = ascend-projects/DeepSpeed
	url = https://gitee.com/ascend/DeepSpeed.git
[submodule "ascend-projects/apex"]
	path = ascend-projects/apex
	url = https://gitee.com/ascend/apex.git
[submodule "ascend-projects/ascend-docker-image"]
	path = ascend-projects/ascend-docker-image
	url = https://gitee.com/ascend/ascend-docker-image.git
[submodule "ascend-projects/ascend_community_projects"]
	path = ascend-projects/ascend_community_projects
	url = https://gitee.com/ascend/ascend_community_projects.git
[submodule "ascend-projects/mindformers"]
	path = ascend-projects/mindformers
	url = https://gitee.com/mindspore/mindformers.git
[submodule "ascend-projects/ringmo-framework"]
	path = ascend-projects/ringmo-framework
	url = https://gitee.com/mindspore/ringmo-framework.git
[submodule "ascend-projects/serving"]
	path = ascend-projects/serving
	url = https://gitee.com/mindspore/serving.git
[submodule "ascend-projects/op-plugin"]
	path = ascend-projects/op-plugin
	url = https://gitee.com/ascend/op-plugin.git
[submodule "ascend-projects/parser"]
	path = ascend-projects/parser
	url = https://gitee.com/ascend/parser.git
[submodule "ascend-projects/mindpandas"]
	path = ascend-projects/mindpandas
	url = https://gitee.com/mindspore/mindpandas.git
[submodule "ascend-projects/hub"]
	path = ascend-projects/hub
	url = https://gitee.com/mindspore/hub.git
[submodule "ascend-projects/mindpet"]
	path = ascend-projects/mindpet
	url = https://github.com/mindspore-lab/mindpet.git
[submodule "ascend-projects/mindone"]
	path = ascend-projects/mindone
	url = https://github.com/mindspore-lab/mindone.git
[submodule "ascend-projects/mindinsight"]
	path = ascend-projects/mindinsight
	url = https://gitee.com/mindspore/mindinsight.git
[submodule "ascend-projects/models"]
	path = ascend-projects/models
	url = https://gitee.com/mindspore/models.git
[submodule "ascend-projects/mindcv"]
	path = ascend-projects/mindcv
	url = https://github.com/mindspore-lab/mindcv.git
[submodule "ascend-projects/mindnlp"]
	path = ascend-projects/mindnlp
	url = https://github.com/mindspore-lab/mindnlp.git
[submodule "ascend-projects/mindaudio"]
	path = ascend-projects/mindaudio
	url = https://github.com/mindspore-lab/mindaudio.git
[submodule "ascend-projects/mind-golden-stick"]
	path = ascend-projects/mind-golden-stick
	url = https://gitee.com/mindspore/golden-stick.git
[submodule "ascend-projects/mindarmour"]
	path = ascend-projects/mindarmour
	url = https://gitee.com/mindspore/mindarmour.git
[submodule "ascend-projects/federated"]
	path = ascend-projects/federated
	url = https://gitee.com/mindspore/federated.git
[submodule "ascend-projects/mindspore"]
	path = ascend-projects/mindspore
	url = https://gitee.com/mindspore/mindspore.git
[submodule "ascend-projects/mind-akkg"]
	path = ascend-projects/mind-akkg
	url = https://gitee.com/mindspore/akg.git
[submodule "ascend-projects/mind-graph"]
	path = ascend-projects/mind-graph
	url = https://gitee.com/mindspore/graphlearning.git
[submodule "ascend-projects/mindrl"]
	path = ascend-projects/mindrl
	url = https://github.com/mindspore-lab/mindrl.git
[submodule "huggingface-projects/tokenizers"]
	path = huggingface-projects/tokenizers
	url = https://github.com/huggingface/tokenizers.git
[submodule "ascend-projects/mindocr"]
	path = ascend-projects/mindocr
	url = https://github.com/mindspore-lab/mindocr.git
[submodule "huggingface-projects/autotrain-advanced"]
	path = huggingface-projects/autotrain-advanced
	url = https://github.com/huggingface/autotrain-advanced.git
[submodule "nvidia-projects/TensorRT-LLM"]
	path = nvidia-projects/TensorRT-LLM
	url = https://github.com/NVIDIA/TensorRT-LLM.git
[submodule "nvidia-projects/triton-server"]
	path = nvidia-projects/triton-server
	url = https://github.com/triton-inference-server/server.git
[submodule "nvidia-projects/triton-tutorials"]
	path = nvidia-projects/triton-tutorials
	url = https://github.com/triton-inference-server/tutorials.git
[submodule "others-projects/onnx"]
	path = others-projects/onnx
	url = https://github.com/onnx/onnx.git
[submodule "others-projects/Yi"]
	path = others-projects/Yi
	url = https://github.com/01-ai/Yi.git
[submodule "others-projects/ascend-docker-image"]
	path = ascend-projects/ascend-docker-image/ascend-docker-image
	url = https://gitee.com/ascend/ascend-docker-image.git
[submodule "mlflow-projects/mlflow"]
	path = mlflow-projects/mlflow
	url = https://github.com/mlflow/mlflow.git
[submodule "others-projects/modeldb"]
	path = others-projects/modeldb
	url = https://github.com/VertaAI/modeldb.git
[submodule "openBMB-projects/ChatDev"]
	path = openBMB-projects/ChatDev
	url = https://github.com/OpenBMB/ChatDev.git
[submodule "openBMB-projects/BMTrain"]
	path = openBMB-projects/BMTrain
	url = https://github.com/OpenBMB/BMTrain.git
[submodule "openBMB-projects/ModelCenter"]
	path = openBMB-projects/ModelCenter
	url = https://github.com/OpenBMB/ModelCenter.git
[submodule "openBMB-projects/XAgent"]
	path = openBMB-projects/XAgent
	url = https://github.com/OpenBMB/XAgent.git
[submodule "openBMB-projects/AgentVerse"]
	path = openBMB-projects/AgentVerse
	url = https://github.com/OpenBMB/AgentVerse.git
[submodule "openBMB-projects/UltraEval"]
	path = openBMB-projects/UltraEval
	url = https://github.com/OpenBMB/UltraEval.git
[submodule "openBMB-projects/ToolBench"]
	path = openBMB-projects/ToolBench
	url = https://github.com/OpenBMB/ToolBench.git
[submodule "openBMB-projects/BMCook"]
	path = openBMB-projects/BMCook
	url = https://github.com/OpenBMB/BMCook.git
[submodule "openBMB-projects/BMInf"]
	path = openBMB-projects/BMInf
	url = https://github.com/OpenBMB/BMInf.git
[submodule "zenml-projects/zenml"]
	path = zenml-projects/zenml
	url = https://github.com/zenml-io/zenml.git
[submodule "zenml-projects/mlstacks"]
	path = zenml-projects/mlstacks
	url = https://github.com/zenml-io/mlstacks.git
[submodule "zenml-projects/zenml-dashboard"]
	path = zenml-projects/zenml-dashboard
	url = https://github.com/zenml-io/zenml-dashboard.git
[submodule "kserve-projects/kserve"]
	path = kserve-projects/kserve
	url = https://github.com/kserve/kserve.git
[submodule "modelmesh-projects/modelmesh"]
	path = kserve-projects/modelmesh
	url = https://github.com/kserve/modelmesh.git
[submodule "kserve-projects/modelmesh-serving"]
	path = kserve-projects/modelmesh-serving
	url = https://github.com/kserve/modelmesh-serving.git
[submodule "fluid-projects/fluid"]
	path = fluid-projects/fluid
	url = https://github.com/fluid-cloudnative/fluid.git
[submodule "llm-projects/haystack"]
	path = llm-projects/haystack
	url = https://github.com/deepset-ai/haystack.git
[submodule "llm-projects/xtuner"]
	path = llm-projects/xtuner
	url = https://github.com/InternLM/xtuner.git
[submodule "llm-projects/llama_index"]
	path = llm-projects/llama_index
	url = https://github.com/run-llama/llama_index.git
[submodule "llm-projects/dify"]
	path = llm-projects/dify
	url = https://github.com/langgenius/dify.git
[submodule "tuning-projects/bitsandbytes"]
	path = tuning-projects/bitsandbytes
	url = https://github.com/TimDettmers/bitsandbytes.git
[submodule "tuning-projects/peft"]
	path = tuning-projects/peft
	url = https://github.com/huggingface/peft.git
[submodule "tuning-projects/accelerate"]
	path = tuning-projects/accelerate
	url = https://github.com/huggingface/accelerate.git
[submodule "tuning-projects/LLM-Adapters"]
	path = tuning-projects/LLM-Adapters
	url = https://github.com/AGI-Edgerunners/LLM-Adapters
[submodule "tuning-projects/Alpaca-CoT"]
	path = tuning-projects/Alpaca-CoT
	url = https://github.com/PhoebusSi/Alpaca-CoT.git
[submodule "tuning-projects/AutoGPTQ"]
	path = tuning-projects/AutoGPTQ
	url = https://github.com/PanQiWei/AutoGPTQ.git
